html {
  font-family: "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
}
body {
  background-color: #E8E8EB;
}
.ln-page-header {
  height: 25px;
  background-color: #000002;
}
.form-control {
  padding: 2px 6px;
  line-height: 22px;
  height: 22px;
  font-size: 12px;
}
.input-group-addon {
  padding: 2px 5px;
}
.fs-date .glyphicon {
  top: 4px;
  right: 4px;
}
.dropdown-menu,
.fs-calendar-wrapper {
  z-index: 500;
}
#ln-page-wrapper #ln-left-panel {
  position: absolute;
  top: 25px;
  bottom: 0;
  border-left: 1px solid #dadadb;
  width: 250px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
  z-index: 10;
  background-color: #E8E8EB;
  overflow: auto;
}
#ln-page-wrapper #ln-left-panel .ln-filter-block {
  padding: 15px 5px;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #dadadb;
}
#ln-page-wrapper #ln-left-panel .ln-filter-block:first-child {
  border-top: none;
}
#ln-page-wrapper #ln-left-panel .ln-filter-block .ln-filter-block-title {
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 10px;
}
#ln-page-wrapper #ln-left-panel .ln-filter-block .ln-input {
  width: 100%;
  box-sizing: border-box;
}
#ln-page-wrapper #ln-left-panel .ln-filter-block .ln-input-wrapper {
  margin-bottom: 8px;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon {
  margin-top: 8px;
  border: 1px solid #dadadb;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-title {
  padding: 10px 10px;
  text-transform: uppercase;
  border-top: 1px solid #dadadb;
  border-bottom: 1px solid #dadadb;
  background-color: #fff;
  font-size: 12px;
  font-weight: bold;
  color: #29636C;
  line-height: 14.4px;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content {
  background-color: #fff;
  border-bottom: 1px solid #dadadb;
  padding: 5px;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content:last-child {
  border-bottom: none;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content label {
  font-weight: normal;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content .checkbox {
  margin-top: 0;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content .ln-human-resource-all {
  font-weight: bold;
}
#ln-page-wrapper #ln-left-panel .ln-accordeon .ln-accordeon-content .ln-human-resource-list {
  margin-left: 20px;
}
#ln-page-wrapper #ln-content-panel {
  position: absolute;
  top: 25px;
  left: 250px;
  bottom: 0;
  right: 0;
  z-index: 5;
}
#ln-page-wrapper #ln-content-panel .ln-content-title {
  padding-left: 15px;
  border-bottom: 1px solid #dadadb;
}
#ln-page-wrapper #ln-content-panel .ln-content-title .ln-page-title {
  font-weight: bold;
  font-size: 16.8px;
  margin: 0;
  display: inline-block;
  line-height: 35px;
  float: left;
}
#ln-page-wrapper #ln-content-panel .ln-content-title .ln-page-actions {
  float: right;
  margin-top: 6px;
  margin-right: 15px;
}
#ln-page-wrapper #ln-content-panel .ln-content-scroll {
  padding-left: 15px;
  padding-top: 0px;
  position: absolute;
  top: 36px;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #fff;
  z-index: 50;
  overflow: auto;
}
#ln-page-wrapper #ln-content-panel .ln-content-scroll .ln-content {
  white-space: nowrap;
}
.ln-complex-resource {
  display: inline-block;
  width: 150px;
  vertical-align: top;
  margin-right: 5px;
  position: relative;
  background-color: #D4E0E2;
}
.ln-complex-resource.collapsed .ln-complex-resource-name,
.ln-complex-resource.collapsed .ln-complex-resource-speciality,
.ln-complex-resource.collapsed .ln-complex-resource-place {
  white-space: nowrap;
  text-align: center;
  text-wrap: avoid;
  overflow: hidden;
  text-overflow: ellipsis;
}
.ln-complex-resource .ln-time-scroll {
  border: none;
  background-color: transparent;
  text-decoration: underline;
}
.ln-complex-resource .ln-complex-resource-header {
  padding-top: 10px;
  background-color: #fff;
  text-align: center;
  position: absolute;
  width: 150px;
  z-index: 20;
  white-space: normal;
}
.ln-complex-resource .ln-complex-resource-body {
  position: absolute;
  width: 150px;
  z-index: 10;
}
.ln-complex-resource .btn {
  white-space: normal;
  line-height: 14px;
}
.ln-complex-resource .ln-complex-resource-day {
  border-radius: 8px 8px 0px 0px;
  background-color: #353534;
  color: #fff;
  padding: 7px;
}
.ln-complex-resource .ln-complex-resource-name {
  background-color: #949594;
  color: #fff;
  padding: 7px;
  border-bottom: 1px solid #bbb;
}
.ln-complex-resource .ln-complex-resource-speciality {
  background-color: #949594;
  color: #fff;
  padding: 7px;
  font-style: italic;
  text-transform: lowercase;
}
.ln-complex-resource .ln-complex-resource-place {
  background-color: #8EC8D7;
  padding: 7px;
  white-space: normal;
}
.ln-complex-resource .ln-complex-resource-schedule {
  background-color: #A4C589;
  padding: 7px;
  line-height: 1em;
}
.ln-complex-resource .ln-complex-resource-schedule .btn-add-queue-record {
  margin-top: 10px;
}
.ln-complex-resource .ln-collapsed {
  display: none;
  cursor: pointer;
}
.ln-complex-resource .ln-complex-resource-cell {
  border-bottom: 1px dashed #000;
  background-color: #E8E8EB;
  padding: 0 5px;
  font-size: 12px;
}
.ln-complex-resource .ln-complex-resource-cell .time {
  font-weight: bold;
}
.ln-complex-resource .ln-complex-resource-cell.ln-complex-resource-cell-1,
.ln-complex-resource .ln-complex-resource-cell.ln-complex-resource-cell-5 {
  background-color: #949594;
  font-weight: bold;
}
.ln-complex-resource .ln-complex-resource-cell .ln-record {
  height: 100%;
  box-sizing: border-box;
  border: 1px solid #000;
  line-height: 1em;
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
}
